<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.drbeef.quakegearvr"
		android:versionCode="1"
		android:versionName="1.1">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />
	<application android:allowBackup="true" android:icon="@drawable/ic_qgvr" android:label="@string/quakegearvr_activity">
		<meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only"/>
		<!-- launchMode is set to singleTask because there should never be multiple copies of the app running -->
		<!-- Theme.Black.NoTitleBar.Fullscreen gives solid black instead of a (bad stereoscopic) gradient on app transition -->
		<activity
				android:name="com.drbeef.quakegearvr.GLES3JNIActivity"
				android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
				android:launchMode="singleTask"
				android:screenOrientation="landscape"
				android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
			<!-- This filter lets the apk show up as a launchable icon. -->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
	<!-- Tell the system this app requires OpenGL ES 3.0. -->
	<uses-feature android:glEsVersion="0x00030000" android:required="true"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<!-- Allow save game files to be written. -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!-- Seems the S6 needs internet permission too -->
	<uses-permission android:name="android.permission.INTERNET"/>	
</manifest>
